* {
	box-sizing: border-box;
}

html, body {
  height: 100%;
	font-family: 'Titillium Web';
	font-weight: 300;
}

h1 {
	font-weight: 600;
	padding: 0;
	margin: 0;
	text-align: center;
}

body {
  background-color: #eee;
  color: #333;
  margin: 0;
  padding: 0;
	text-align: center;
	padding: 40px;
}

#board-container {
		width: 100%;
		overflow-x: auto;
}

#board {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	padding-right: 1px;
	padding-bottom: 1px;
	border-radius: 3px;
	position: relative;
}

.row {
	width: 100%;
	display: flex;
	flex-wrap: no-wrap;
}

/*
			TILES
*/
.tile {
	width: 25px;
	height: 25px;
	background-color: #ddd;
	text-align: center;
	border-radius: 0px;
	user-select: none;
	cursor: pointer;
	margin-top: 1px;
	margin-left: 1px;
	border-radius: 3px;
	border-bottom: solid 1px #aaa;
	overflow: hidden;
}
.tile:hover {
	background-color: #666;
    color: #fff;
	border-bottom: solid 1px #000;
}
.tile:active {
	background-color: #333;
    color: #ccc;
	border-top: solid 1px #000;
}

.revealed {
	background-color: #8b3;
	border-bottom: solid 1px #678a4d;
}
.mine {
	background-color: #d44;
	border-bottom: solid 1px #a22;
}
.flagged {
	/*background-color: #678a4d;*/
	background-color: #ddd;
}

.coordCell {
	width: 25px;
	height: 25px;
	margin-top: 1px;
	margin-left: 1px;
	padding-top: 4px;
	color: #aaa;
	font-size: 70%;
	text-align: center;
}

#tekst {
	position: absolute;
	left: 0;
	bottom: 0;
	/*background-color: #00f;*/
	color: #fff;
	font-size: 500%;
}

.container {
	background-color: #fff;
	padding: 5px;
	display: inline-block;
	max-width: 100%;
	text-align: left;
	border-radius: 4px;

	-webkit-box-shadow: 1px 2px 13px 0px rgba(50, 50, 50, 0.3);
	-moz-box-shadow:    1px 2px 13px 0px rgba(50, 50, 50, 0.3);
	box-shadow:         1px 2px 13px 0px rgba(50, 50, 50, 0.3);
}
.flagging {

}


.header {

}

.nav {
	top: 0;
	right: 0;
	position: relative;
	margin-bottom: 10px;
    display: flex;
}

.menubutton {
	display: inline-block;
    height: 2em;
	background-color: #eee;
	margin: 0;
	border: 0;
	border-radius: 4px;
	border-bottom: solid 1px #ccc;
    margin-right: 5px;
}

.active {
	background-color: #ccc;
	border-top: solid 1px #999;
	border-bottom: none;
}

.nav a {
	color: #555;
	text-decoration: none;
	padding: 2px;
	padding-left: 10px;
	padding-right: 10px;
}

.dropdown {
	position: absolute;
	background-color: #eee;
	z-index: 1;
	top: calc(100% - 3px);
	left: 0;
	padding: 0;
	border-radius: 4px;
	border-top-left-radius: 0;

	-webkit-box-shadow: 1px 2px 13px 0px rgba(50, 50, 50, 0.4);
	-moz-box-shadow:    1px 2px 13px 0px rgba(50, 50, 50, 0.4);
	box-shadow:         1px 2px 13px 0px rgba(50, 50, 50, 0.4);
}

.hidden {
	display: none;
}

.dropdown a {
	display: block;
	width: 100%;
	border-radius: 4px;
}
.dropdown a:hover {
	background-color: #fff;
	color: #000;
}

#popup {
	position: absolute;
	top: 40%;
	left: 6px;
	width: calc(100% - 12px);
	padding: 10px;
	text-align: center;
	border-radius: 6px;

	-webkit-box-shadow: 1px 2px 13px 0px rgba(50, 50, 50, 0.6);
	-moz-box-shadow:    1px 2px 13px 0px rgba(50, 50, 50, 0.6);
	box-shadow:         1px 2px 13px 0px rgba(50, 50, 50, 0.6);

	color: #fff;
}

.gameover {
	background-color: rgba(190,30,30,0.9);
}
.success {
	background-color: rgba(115,190,30,0.9);
}

.footer {
    color: #999;
    font-size: 80%;
}

@media screen and (max-width: 500px) {
	body {
		padding: 0;
		padding-top: 5px;
	}
	.coordCell {
		display: none;
	}

}
